
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#ccc;
}
.container{
    max-width:900px;
    margin:0 auto;
    /* background-color: black; */
}
.apply_box{
    max-width:600px;
    padding:20px;
    background-color:white;
    margin:0 auto;
    margin-top:50px;
    box-shadow:4px 3px 5px rgb(1,1,1,0.1);
    border-radius:10px;
}
.small-title{
    font-size:20px;
}
.form_container{
    margin-top:50px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr) );
    gap:20px;
}
.form_control{
    display:flex;
    flex-direction: column;
}
label{
    font-size:15px;
    margin-bottom:10px;
}
input,select,textarea{
    padding:6px 10px;
    border:2px solid #ccc;
    border-radius:4px;
    font-size:15px;
}
input:focus{
    outline-color: red;
}
.button_container{
    display:flex;
    justify-content:flex-end;
    margin-top:30px;
}
button{
    background-color:red;
    padding:6px 10px;
    border-radius:8px;
    color:white;
    border:transparent solid 2px;
    transition:1s ease-in;
    
}
button:hover{
    background-color:#ccc;
    color:black;
    border:2px solid red;
    cursor:pointer;
    transition:1s ease-in;
}
.text_area_control{
    grid-column: 1 /span 2;
}
.text_area_control textarea{
    width:100%;
}
@media (max-width:400px){
    .text_area_control{
    grid-column: 1 /span 1;
}
}
